
  .wavy-border {
      border-radius: 50% ;
    background-color: black;
    margin-top: 2.5px;
    margin-left: 2.5px;
  }
.ins{
    color: #ffff;
    margin-left: 50px ;
    visibility: visible;
    display: block;
    width: 20%;
}

.post-body{
  width: 571.568px;
  height: 512px;
}
.or{
  text-align: center;
  position: relative;
  color:gray
  }
  .or::after{
  content: '';
  width: 205px;
  height: 1px;
  background-color:rgb(129, 129, 129,.3);
  position: absolute;
  top: 13px;
  right: 10px;
  
  }
  .or::before{
  content: '';
  width: 205px;
  height: 1px;
  background-color:rgb(129, 129, 129,.3);
  position: absolute;
  top:13px;
  left:10px;
}